@import url("https://use.typekit.net/blp3bvg.css");
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "myriad-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  margin: 0;
  padding: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 80%;
  padding: 2rem 0;
}
.main-content .img-icon {
  width: 25%;
}
.main-content .typography-title {
  width: 40%;
  text-align: center;
  font-family: "Myriad Pro";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  z-index: 5;
}
.main-content .img-main {
  width: 70%;
}
.main-content .typography-description {
  width: 50%;
  text-align: center;
  font-family: "Myriad Pro";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  z-index: 9;
}

.secondary-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.secondary-content .img-secondary {
  width: 100%;
}
.secondary-content .typography-water-protection {
  width: 50%;
  text-align: center;
  font-family: "Myriad Pro";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  z-index: 9;
}
.secondary-content .img-water-protection {
  width: 70%;
}

.functions {
  width: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
}
.functions-image {
  width: 100%;
}

.main-features {
  width: 80%;
  padding: 3rem 1rem;
}
.main-features .features-title {
  text-align: center;
}
.main-features .features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.main-features .features-container .features-description {
  width: 30%;
  padding: 2rem 1rem;
  position: relative;
}
.main-features .features-container .features-description:not(:last-child):not(:nth-last-child(2)):after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 1rem;
  width: 40%;
  border-bottom: 1px solid black;
}

.equipment {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.equipment-image {
  width: 100%;
}

@media (max-width: 900px) {
  body {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 17px;
  }
}